@{
    ViewData["Title"] = "Home Page";
}
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Minila Dashboard</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#0">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("Admin"))
                                {
                                    <p>Admin </p>
                                }
                                else if (User.IsInRole("Student"))
                                {
                                    <p>Student </p>
                                }
                                else
                                {
                                   <p>Minila</p>
                                }
                            }
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon purple">
                  <i class="lni lni-cart-full"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">New Trip</h6>
                  <h3 class="text-bold mb-10">
                       @{int tripCount = 0;}
                            @if (ViewData["TotalTrip"] != null)
                            {
                                @foreach (var request in ViewData["TotalTrip"] as List<RidingApp.Web.DTOs.ViewModels.TripWebDTOs>)
                                {
                                   tripCount++;
                                }
                            }
                        @if(tripCount!=null){@tripCount}
                  </h3>
                  <p class="text-sm text-success">
                  </p>
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon success">
                  <i class="lni lni-graduation"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">Total Student</h6>
                  <h3 class="text-bold mb-10">
                       @{int studentCount = 0;}
                            @if (ViewData["getstudentList"] != null)
                            {
                                @foreach (var request in ViewData["getstudentList"] as List<RidingApp.DataAccess.Entities.ApplicationUser>)
                                {
                                   studentCount++;
                                }
                            }
                        @if(studentCount!=null){@studentCount}
                  </h3>
                  <p class="text-sm text-success">
                    
                  </p>
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon primary">
                  <i class="lni lni-car"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">Total Chauffeur</h6>
                  <h3 class="text-bold mb-10">
                       @{int ChauffeurCount = 0;}
                            @if (ViewData["TotalTrip"] != null)
                            {
                                @foreach (var request in ViewData["getDriverList"] as List<RidingApp.DataAccess.Entities.ApplicationUser>)
                                {
                                   ChauffeurCount++;
                                }
                            }
                        @if(ChauffeurCount!=null){@ChauffeurCount}
                  </h3>
                  <p class="text-sm text-danger">

                  </p>
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon orange">
                  <i class="lni lni-user"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">New User</h6>
                  <h3 class="text-bold mb-10">
                       @{int TotalUsersCount = 0;}
                            @if (ViewData["TotalUsers"] != null)
                            {
                                @foreach (var request in ViewData["TotalUsers"] as List<RidingApp.DataAccess.Entities.ApplicationUser>)
                                {
                                   TotalUsersCount++;
                                }
                            }
                        @if(TotalUsersCount!=null){@TotalUsersCount}
                  </h3>
                  <p class="text-sm text-danger">

                  </p>
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
          </div>
         


